*{
    margin: 0;
}
html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    max-height: 100%;
    max-width: 100%;
    justify-content: space-between;

}


a{
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: #9C69E2;
    transition: 0.7s;
}
button:hover {
    box-shadow: 10px 25px 25px #9C69E2;
    transition: 0.7s;
}
div{
    display: flex;
}
.nav{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 67%;
}
a{
    font-family: Avenir;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    color: #4B5D68;
    font-size: 100%;
}
.nav-items{
    padding-right: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.02em;
}

.nav .icon {
    display: none;
}

.selected{
    font-weight: 1100;
    color: #212353;
}

header{
    margin: 2% 13% auto 16%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 1;
}
.menu{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}
#logo{
    width: 52%;
    height: 52%;
}
button {
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-color: transparent;
    border-radius: 50px;
    cursor: pointer;
}

.button-content{
    padding-left: 11%;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
    flex-wrap: nowrap;
}
.request-demo-buttons{
    width: 210px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
#request-demo{
    flex-shrink: 1;
}

.arrow{
    width: 45%;
}



/* main */

.first-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 8% 5% auto 16%;
}

.content{
    display: flex;
    flex-direction: column;
    min-width: 50%;
    justify-content: space-between;
    padding-bottom: 10%;
}

.title{
    font-family: Helvetica;
    font-style: normal;
    font-weight: bold;
    color: #212353;
}
#title-1{
    font-size: 500%;
    line-height: 110%;
    padding-bottom: 10%;
}

.content-text{
    font-family: Avenir;
    font-style: normal;
    font-weight: 500;
    font-size: 112.5%;
    line-height: 160%;

    color: #4B5D68;
    margin: 0 0 8% 0;
    text-align: left;
}
#first-section-content{
    width: 380px;
    height: 120px;
}
#image{
    display: flex;
}
.main-img{
    margin-left: -42%;
    margin-top: 15%;
    width: 149%;
}
.learn-more-buttons{
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-color: transparent;
    border-radius: 50px;
    cursor: pointer;
    width: 170px;
    height: 60px;
}
#learn-more-1{
    background: #9C69E2;
    text-align: center;
    justify-content: center;
}
.learn-more-buttons-content{
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #ffffff;
    flex-wrap: nowrap;
}
.learn-more-buttons-font{
    color: #ffffff;
    text-align: center;
    padding-left: 0%;
    justify-content: center;
    align-items: center;
}
.second-section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgba(240, 99, 184, 0.15);
    border-radius: 50px;
    margin: 8% 11% auto 16%;
}
#title-2{
    font-size: 250%;
    line-height: 130%;
    padding-bottom: 6%;
}
#second-section-content{
    width: 474px;
    height: 170px;
}
#ping-girl-image{
    width: 87%;
    height: auto;
    margin-left: 4%;
}
#second-section-div{
    padding-top: 10%;
}
.table{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0;
}
.table-element{
    display: flex;
    flex-direction: row;
    margin: 2% -1%;
    border-radius: 50px;
    max-width: 51%;
}
.table-data{
    width: 442px;
    height: 358px;
    margin-left: -30%;
}
.table-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 220px;
    margin-left: 30%;
}
#search-data-div{
    background-image: url("resources/images/feature-images/search-data-bcg.png");
}
#hours-access-div{
    background-image: url("resources/images/feature-images/24-hours-access-bcg.png");
}
#security-code-div{
    background-image: url("resources/images/feature-images/security-code-bcg.png");
}
#print-out-div{
    background-image: url("resources/images/feature-images/print-out-bcg.png");
}
.features-title{
    font-size: 250%;
    line-height: 130%;
    display: flex;
    padding: 3%;
}
.table-title{
    font-size: 150%;
    font-weight: normal;
}
#features-content{
    display: flex;
    width: 584px;
    height: 58px;
    display: flex;
    text-align: center;
}
.features-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 8% 5% auto 16%;
}
.feature-content-div{
    align-items: center;
    margin-left: -8%;
    padding: 0;
}
.feature-images{
    width: 232px;
    height: 211px;
    margin-top: 40%;
}
.arrow-learn-more{
    width: auto;
}
.table-link{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen  and (max-width: 1100px) {
    header{
        margin-left: 3%;
        margin-right: 3%;
        align-items: start;
        justify-content: space-between;
    }
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav{
        background: transparent; /* Цвет фона */
        filter: alpha(Opacity=70); /* Прозрачность в IE */
        color: #fff; /* Цвет текста */
        margin-left: 0%;
        justify-content: flex-start;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav a:not(:first-child) {
        display: none;
    }
    .nav a.icon {
        display: flex;
        width: auto;

    }
    .nav a.nav-items:hover{
        background: #9C69E2;
    }
    .hidden{
        display: none;
    }
    .nav.responsive {
        position: relative;
    }
    .nav.responsive a {
        background: transparent;
        float: none;
        display: flex;
        text-align: center;
    }
    .nav-items {
        justify-content: left;
    }
    #logo {
       /* width: 70%;
        height: 52%;
        */
        display: none;
    }
    .request-demo-buttons {
        height: 40%;

    }
    .nav .icon{
    }
}


@media screen  and (max-width: 1440px){
    .first-section{
        flex-direction: column;
    }
    #first-section-content{
        width: auto;
    }
    .main-img{
        margin-left: 0%;
        margin-top: 0%;
        width: 100%;
    }
    .second-section{
        flex-direction: column;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    #ping-girl-image{
        margin-left: 0%;
        margin-top: 0%;
        width: 100%;
    }
    #second-section-div{
        margin: 0 5%;
        padding-bottom: 2%;
    }
    #second-section-content{
        flex-wrap: wrap;
        width: auto;
    }
    #title-2{
        text-align: center;
        padding-top: 2%;
    }
}
