*{
    margin: 0;
}
html{
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #F6FAFD 0%, #FFFFFF 19.4%);
    max-height: 100%;
    max-width: 100%;
    justify-content: space-between;
}
a{
    cursor: pointer;
}
a:hover {
    color: #9C69E2;
    transition: 0.7s;
}
button:hover {
    box-shadow: 10px 25px 25px #9C69E2;
    transition: 0.7s;
}
div{
    display: flex;
}
.nav{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 67%;
}
.nav-items{
    font-family: Avenir;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    color: #4B5D68;
    font-size: 100%;
    padding-right: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.nav .icon {
    display: none;
}

.selected{
    font-weight: 1100;
    color: #212353;
}

header{
    margin: 2% 13% auto 16%;
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-grow: 0;
    flex-shrink: 1;
}
.menu{
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}
#logo{
    width: 52%;
    height: 52%;
}
button {
    background: #FFFFFF;
    box-shadow: 0px 5px 5px rgba(75, 93, 104, 0.1);
    border-color: transparent;
    border-radius: 50px;
    cursor: pointer;
}

.button-content{
    padding-left: 11%;
    font-family: Avenir;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 160%;
    display: flex;
    align-items: center;
    letter-spacing: 0.005em;
    color: #212353;
    flex-wrap: nowrap;
}
.request-demo-buttons{
    width: 210px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
#request-demo{
    flex-shrink: 1;
}

.arrow{
    width: 45%;
}
@media screen  and (max-width: 1100px) {
    header{
        margin-left: 3%;
        margin-right: 3%;
        align-items: start;
        justify-content: space-between;
    }
    .menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .nav{
        background: transparent; /* Цвет фона */
        filter: alpha(Opacity=70); /* Прозрачность в IE */
        color: #fff; /* Цвет текста */
        margin-left: 0%;
        justify-content: flex-start;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav a:not(:first-child) {
        display: none;
    }
    .nav a.icon {
        display: flex;
        width: auto;

    }
    .nav a.nav-items:hover{
        background: #9C69E2;
    }
    .hidden{
        display: none;
    }
    .nav.responsive {
        position: relative;
    }
    .nav.responsive a {
        background: transparent;
        float: none;
        display: flex;
        text-align: center;
    }
    .nav-items {
        justify-content: left;
    }
    #logo {
       /* width: 70%;
        height: 52%;
        */
        display: none;
    }
    .request-demo-buttons {
        height: 40%;

    }
    .nav .icon{
    }

}
